<div class="container form">
    <form action="" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="" aria-describedby="name" name="name" placeholder="Item name" [(ngModel)]="title">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="" name="price" placeholder="Price" [(ngModel)]="price">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" id="" name="quantity" placeholder="Quantity" [(ngModel)]="quantity">
        </div>
        <input type="submit" class="btn btn-primary" value="Create" />
    </form>
</div>